
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>爬虫控制页面</title>
</head>
<body>
		<div><form action="/addBossData">
		数据地址: <input name="path"  value="G:\\xxx"> </input>
		<button>导入数据</button>
		</form></div>
		
		<div><form action="/bossSpiderStart?">
		启动Boss爬虫: <input name="path"  value="G:\\xxx"> </input>
				启动Boss爬虫: <input name="FileName"  value="文件名称"> </input>
		
		<button>开启爬虫</button>
		</form></div>
</body>	
<script th:inline="javascript">
    </script>
</html>