<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="store.bigdata.analysis.wry.mapper.BiMapper">

	<select id="findlist"    resultType="store.bigdata.analysis.wry.pojo.BiPojo">
			select * from weibo_hot_words 
	</select>
	
	
	<select id="findlistgroupbydatseq"    resultType="store.bigdata.analysis.wry.pojo.BiPojo">
			select * from weibo_hot_words  GROUP BY day_seq ORDER BY freq desc
	</select>
</mapper>